@model Playground.CQRS.Web.Models.AppSettingModel

<div>
    <h3>App Settings</h3>
    <hr />
    <p>
       <strong>@Html.DisplayNameFor(model => model.FirstVariable)</strong>:
       @Html.DisplayFor(model => model.FirstVariable)
    </p>
</div>