
<div class="row">
    <div>
        <h3>How it works</h3>
        <ul>
            <li>Using Postman, go to /api/auth, the user shouldn't be logged in</li>
            <li>Using Postman, go to /api/auth, add a header with name UserName and whatever value you want, should return that you are logged in</li>
            <li>Using Postman, go to /api/auth/secured with no headers, it should tell you that you are not authorized</li>
        </ul>        
    </div>
</div>
