@model Playground.CQRS.Web.Models.SessionTestModel
<div>
    <h3>SessionTestModel</h3>
    <p><strong>Number</strong>: @Model.Number</p>
    @Html.ActionLink("Increase session value", "Increase")
</div>